body{
font:15px/1.5 Arial,helvetica,sans-serif;
padding: 0;
margin: 0;
background-color: #f4f4f4;
}
/*Global */
.container{
  width:80%;
  margin: auto;
  overflow: hidden;
}
ul{
  margin: 0;
  padding: 0;
}
.button_1{
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 400px;
  color: #ffffff;
}
.dark{
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*header **/
header{
  background: #35424a;
  color: #ffffff;
padding-top: 30px;
min-height: 70px;
border-bottom: #e8491d 3px solid;
}
header a{
   color: #ffffff;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 16px;
   }

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin : 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color:#e8491d !important;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;

}

/*showcase*/
#showcase{
  min-height: 400px;
  background:url('../Images/showcase.jpg'), no-repeat,0 200px;
text-align: center;
color: #ffffff;
}
#showcase h1{
  margin top: 100px;
  font-size: 55px;
  margin-bottom: 18px;
}
#showcase p{
  font-size: 20px;
}
/* Newsletter*/
#newsletter p{
  padding: 15px;
  color: #ffffff;
  background:#35424a;
}
#newsletter h1{
  float: left;
}
#newsletter form{
  float: right;
  margin-top: 15px;

}
#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px
}
/* Boxes */
#boxes{
  margin-top: 20px;
  }

  #boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
    }
    #Boxes .box img {
      width: 90px;
      }
      /* Sidebar*/
      aside#sidebar{
        float:right;
        width: 30%;
        margin-top: 10px;
      }
      aside#sidebar .quote input, aside#sidebar .quote textarea{
        width:90%;
        padding:5px;
      }
      /* Main-col */
      article#main-col{
        float: left;
        width: 65%;

      }
      /* Services*/
      ul#services li{
        list-style: none;
        padding: 20px;
        border: #cccccc solid 1px;
        margin-bottom: 5px;
        background:#e6e6e6;
      }

      footer{
        padding: 20px;
        margin-top: 20px;
        color: #ffffff;
        background-color: #e8491d;
        text-align: center;
      }
/*login **/

.login-page {
  padding-top: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 468px;
  margin: 60px auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);


}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #e8491d;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #cccccc;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #e8491d;
  text-decoration: none;
}
.form  {
  border-top: 20px;
}
form p   {
  float: left;
  margin-bottom: 30px;
}
form #role{
  background: #f2f2f2;
float: left;
margin-top: 6px;
  font-family: "Roboto", sans-serif;
  margin-left: 5px;
}
form label{
  font-family: "Roboto", sans-serif;
  margin-left: 6px;
}
}
/*signup **/
.signup{
  padding-top: auto;
}


/*articles shown in admins dashboard
organized table**/
table {
  font:15px/1.5 Arial,helvetica,sans-serif;
  border-collapse: collapse;
  width: 80%;
}


/* fix footer */
#footeraa {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}
/* admin button */
.adminpanelbutton {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin-left:50px;
  margin-top:50px;
}

.adminpanelbutton:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.adminpanelbutton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.buttondiv{

  margin-top:10px;
  margin-left:10px;

}
.tableuser{
  margin-top:20px;
  margin-left:50px;
  border-color:#000000;
}
/*delete button on usertable*/
.button {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px;
  width: 100px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin-left:10px;
  margin-top:10px;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

/* Login signup alignment*/
::-webkit-input-placeholder {
text-align:center;
}
#newsletter .container form .box a {
	font-size: 14px;
}
#newsletter .container form div .box a {
	font-family: Times New Roman, Times, serif;
}
